/* ==========================================
                    FOOTER
========================================== */

.footer{

    padding:50px 0;

    border-top:1px solid var(--border);

    margin-top:100px;

}

.footer-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;

}

.footer-logo{

    font-family:var(--font-title);

    font-size:1.4rem;

    font-weight:700;

}

.footer-logo span{

    color:var(--primary);

}

.footer p{

    color:var(--text-muted);

    font-size:.95rem;

}

.footer-social{

    display:flex;

    gap:16px;

}

.footer-social a{

    width:46px;

    height:46px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:rgba(255,255,255,.04);

    border:1px solid var(--border);

    transition:var(--transition);

}

.footer-social a:hover{

    transform:translateY(-5px);

    background:var(--primary);

}

.footer-social svg{

    width:20px;

    height:20px;

}