/* ==========================================
                HEADER
========================================== */

.header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:1000;

    backdrop-filter:blur(18px);

    background:rgba(9,9,11,.65);

    border-bottom:1px solid rgba(255,255,255,.06);

}

/* ==========================================
                CONTAINER
========================================== */

.header .container{

    height:82px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

/* ==========================================
                LOGO
========================================== */

.logo{

    display:flex;

    align-items:center;

    gap:8px;

    font-family:var(--font-title);

    font-size:1.5rem;

    font-weight:700;

}

.logo span{

    color:var(--primary);

}

/* ==========================================
                NAVBAR
========================================== */

.navbar{

    display:flex;

    align-items:center;

    gap:32px;

}

.navbar a{

    display:flex;

    align-items:center;

    gap:8px;

    color:var(--text-muted);

    font-weight:500;

    transition:var(--transition);

}

.navbar a:hover{

    color:var(--text);

}

.navbar a.active{

    color:var(--primary-light);

}

.navbar svg{

    width:18px;

    height:18px;

}

/* ==========================================
            MENU MOBILE
========================================== */

.menu-toggle{

    display:none;

    color:var(--text);

}

.menu-toggle svg{

    width:28px;

    height:28px;

}

/* ==========================================
            HEADER SCROLLED
========================================== */

.header.scrolled{

    background:rgba(9,9,11,.90);

    box-shadow:0 10px 40px rgba(0,0,0,.30);

}