header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    padding:28px 9%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.35s;

    z-index:1000;

}

header.scrolled{

    padding:18px 9%;

    background:rgba(9,9,11,.72);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.05);

    box-shadow:0 10px 40px rgba(0,0,0,.25);

}

.logo{

    font-size:30px;

    font-family:'Space Grotesk';

    font-weight:700;

    color:white;

    text-decoration:none;

}

.logo span{

    color:#60A5FA;

}

nav{

    display:flex;

    gap:42px;

}

nav a{

    color:#CBD5E1;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

    position:relative;

}

nav a:hover{

    color:white;

}

nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#60A5FA;

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}

nav a.active{

    color:white;

}

nav a.active::after{

    width:100%;

}