.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:0 9%;

min-height:100vh;

}

.hero-left{

width:55%;

}

.tag{

display:inline-flex;

align-items:center;

gap:10px;

padding:12px 22px;

border:1px solid rgba(96,165,250,.35);

background:rgba(37,99,235,.08);

backdrop-filter:blur(20px);

border-radius:999px;

margin-bottom:35px;

color:#BFDBFE;

font-weight:600;

letter-spacing:.4px;

}

.hero h1{

font-family:'Space Grotesk';

font-size:92px;

line-height:.95;

margin-bottom:22px;

font-weight:700;

}

.hero h1 span{

background:linear-gradient(
90deg,
#FFFFFF,
#60A5FA);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.hero h2{

font-size:24px;

font-weight:500;

color:#94A3B8;

margin-bottom:30px;

}

.hero p{

font-size:20px;

line-height:36px;

color:#CBD5E1;

max-width:620px;

margin-bottom:45px;

}

.buttons{

display:flex;

gap:18px;

}

.primary{

display:inline-flex;

align-items:center;

justify-content:center;

gap:12px;

background:linear-gradient(
135deg,
#2563EB,
#4F46E5);

padding:18px 36px;

border-radius:16px;

text-decoration:none;

font-weight:700;

color:white;

box-shadow:0 15px 40px rgba(37,99,235,.35);

transition:.35s;

}

.primary:hover{

transform:translateY(-8px);

box-shadow:0 30px 60px rgba(37,99,235,.45);

}

.secondary{

border:1px solid #475569;

padding:18px 36px;

border-radius:14px;

text-decoration:none;

font-weight:700;

color:white;

transition:.35s;

}

.secondary:hover{

background:#1E293B;

}

.hero-right{

position:relative;

display:flex;

justify-content:center;

align-items:center;

}

.hero-right::before{

content:"";

position:absolute;

width:480px;

height:480px;

border-radius:50%;

background:radial-gradient(circle,#2563EB 0%,transparent 70%);

filter:blur(90px);

opacity:.30;

z-index:-1;

}

.hero-right img:hover{

transform:translateY(-8px);

}

.hero-right img{

width:470px;

border-radius:28px;

box-shadow:0 0 90px rgba(59,130,246,.25);

}