.process{

    padding:140px 9%;

}

.process-grid{

    margin-top:80px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:28px;

}

.process-card{

    position:relative;

    padding:35px;

    border-radius:22px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.06);

    backdrop-filter:blur(15px);

    transition:.35s;

    overflow:hidden;

}

.process-card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:4px;

    background:linear-gradient(
        90deg,
        #2563EB,
        #7C3AED
    );

    transform:scaleX(0);

    transform-origin:left;

    transition:.35s;

}

.process-card:hover{

    transform:translateY(-10px);

    border-color:#60A5FA;

}

.process-card:hover::before{

    transform:scaleX(1);

}

.number{

    font-size:52px;

    font-family:'Space Grotesk';

    color:rgba(96,165,250,.25);

    margin-bottom:25px;

}

.process-card h3{

    font-size:26px;

    margin-bottom:18px;

}

.process-card p{

    color:var(--text);

    line-height:30px;

}