@import url("variables.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--bg);

    color:var(--white);

    overflow-x:hidden;

    position:relative;

}

/* GRID */

body::before{

content:"";

position:fixed;

inset:0;

background:

linear-gradient(

rgba(255,255,255,.035) 1px,

transparent 1px),

linear-gradient(

90deg,

rgba(255,255,255,.035) 1px,

transparent 1px);

background-size:70px 70px;

mask-image:

radial-gradient(circle at center,

black 25%,

transparent 90%);

z-index:-3;

}

/* GLOW AZUL */

body::after{

content:"";

position:fixed;

width:1000px;

height:1000px;

right:-250px;

top:-320px;

border-radius:50%;

background:

radial-gradient(circle,

rgba(37,99,235,.32),

transparent 72%);

filter:blur(130px);

z-index:-2;

}

.background-purple{

position:fixed;

width:850px;

height:850px;

left:-280px;

bottom:-350px;

border-radius:50%;

background:

radial-gradient(circle,

rgba(139,92,246,.25),

transparent 72%);

filter:blur(130px);

z-index:-2;

}

/* ========================= */
/* CURSOR GLOW */
/* ========================= */

.cursor-glow{

    position:fixed;

    width:420px;

    height:420px;

    border-radius:50%;

    pointer-events:none;

    z-index:-1;

    background:

    radial-gradient(circle,
    rgba(37,99,235,.18),
    transparent 70%);

    filter:blur(60px);

    transform:translate(-50%,-50%);

    transition:

        left .08s linear,

        top .08s linear;

}