:root{

    --bg:#09090B;
    --bg-secondary:#111827;

    --primary:#2563EB;
    --primary-light:#60A5FA;

    --purple:#8B5CF6;

    --white:#F8FAFC;

    --text:#CBD5E1;

    --gray:#94A3B8;

    --border:#273244;

    --shadow:0 20px 60px rgba(37,99,235,.25);

    --radius:18px;

}