@media(max-width:1000px){

nav{

display:none;

}

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:140px;

}

.hero-left{

width:100%;

}

.hero h1{

font-size:52px;

}

.hero-right img{

width:280px;

margin-bottom:60px;

}

.buttons{

justify-content:center;

flex-wrap:wrap;

}

}